<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	{% block extra_meta %}{% endblock %}

	<title>{% block title %}Pro14 Farm Manager{% endblock %}</title>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/base.css" media="screen" />
	{% block extra_css %}{% endblock %}

	{% block extra_js %}{% endblock %}
</head>
<body>
	<p align="right"><img src="{{ STATIC_URL }}img/tr_logo.png" alt="[Pro] services" /></p>
	<h1>[Pro] services - For a better alliance.</h1>
	<div id="menu">
		{% block menu %}
		<h2>Control panel</h2>
		
		<p style="font-size: small">You're logged in as {{ username }}.</p>

		<ul><li><a href="/pro_services/update_data/">Update your data</a>.</li>
			<li><a href="/pro_services/farm_list/">View a list of your farms</a>.</li>
			<li><a href="/pro_services/farm_free_check/">Check if a given planet is free</a>.</li>
			<li><a href="{{ STATIC_URL }}optimise_trade.html">Optimise trades in a core</a>.</li>
			<li><a href="/pro_services/user/logout/">Logout</a>.
		</ul>
		{% endblock menu %}
		{% block extra_menu %}{% endblock extra_menu %}
	</div>

	<div id="content">
		{% block content %}
		Welcome {{ username }}.
		{% endblock %}
	</div>
	
	<div id="cc_attribution" align="right">This is a design adaptation of a design found at <a href="http://www.intensivstation.ch/files/en_templates/temp02.html">www.intensivstation.ch</a>, available under a Creative Commons Attribution 1.0 Generic (CC BY 1.0) license. Copyright © <a href="http://www.monorom.to">monorom.to</a>.</div>
	</body>
</html>

